<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>

        <div class="navbar-collapse collapse">
          
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    @Html.ActionLink("Change Display Pic","AddPic","Home")
                </li>

            </ul>
            <ul class="navbar navbar-right navbar-nav" >
                @using (Html.BeginForm("Logout", "Register", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a style="color:white " href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
                </>
            </ul>
           
        
                  
    </div>
</div>
    </div>

