@model WebApplication4.Models.ApiProperties

@{
    ViewBag.Title = "Translator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Translator</h2>
<div id="showsrc">
    <input type="button" value="List languages" id="btnListLanguages" />
    <div id="listLanguages">

    </div>
</div>
<script type="text/javascript">
    var sourceLanguageApi = '@ViewBag.DetectSrc.ToString()'.replace("{1}","en");;
    var languageListApi = '@ViewBag.GetLanguages'.replace("{1}","'en'");;
    var translate = '@ViewBag.Translate';
    var key ='@ViewBag.key';
    var display = document.getElementById('listLanguages');
    $(document).ready(function () {
        console.log(languageListApi);
        $('#btnListLanguages').click(function () {
            console.log("function call successful");
           $.ajax({
               
                url: languageListApi,
                method: 'get',
                data: {key:key, ui: 'en'},
                dataType: 'json',                
                success: function (data) {
                    display.innerHTML = data["langs"].en;
                }
            });
        });
    });
</script>
