@model WebApplication4.Models.ApiProperties

@{
    ViewBag.Title = "Translator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Translator</h2>
<div id="showsrc">
    <textarea id="text" style="width:100%"></textarea>
        <input type="button" value="List languages" id="btnListLanguages" />
    <div id="listLanguages">
        <select id="dropDown" style="width:150px;max-height:100px;overflow-y:auto"><option value="0">---Select A Language---</option></select>
    </div>
</div>
<div id="resultDiv" >

</div>
<script type="text/javascript">
    var sourceLanguageApi = '@ViewBag.DetectSrc.ToString()'.replace("{1}", "en");;
    var languageListApi = '@ViewBag.GetLanguages'.replace("{1}", "'en'");;
    var translate = '@ViewBag.Translate';
    var key = '@ViewBag.key';
    var languageDropdown = $('#dropDown');
    var displayText = "";
    var display = document.getElementById('listLanguages');
    window.onload = function () {
    }; var lang;
    var code;
    window.onload = function () {
        $.ajax({
            url: languageListApi,
            method: 'get',
            data: { key: key, ui: 'en' },
            dataType: 'json',
            success: function (data) {
                var object = data["langs"];
                for (var property in object) {
                    if (object.hasOwnProperty(property)) {
                        code = property;
                        lang = object[property];
                        languageDropdown.append('<option value="' + code + '" >' + lang + '</option>');
                    }
                }
            }
        });
    };
    $(document).ready(function () {
        console.log(languageListApi);
        $('#btnListLanguages').click(function () {

            var k=languageDropdown.options[languageDropdown.selectedIndex].value;
            $('#resultDiv').innerHTML = k;
        });
    });
</script>
